.aboutpage{
    color: #000000;
    display: flex;
    justify-content: center;
    padding: 60px 30px;
    gap: 35px;
    background-color: #FFFFFF;
    
}

.image{
    width: 40%;
}

.aboutimage{
    width: 100%;
}

.text{
    width: 40%;
}

.textheader{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 82px;
    letter-spacing: 0.05em;
}

.text>p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 0.06em;

}

@media screen and (max-width: 450px) {
    .aboutpage{
        flex-direction: column;        
    }

    .image{
        width: 100%;
    }
    
    .aboutimage{
        width: 100%;
    }
    
    .text{
        width: 100%;
    }
    
    .textheader{
        font-size: 25px;
    }
}