.contactContainer {
    background-color: #201F1F;
    width: 100%;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contactheader {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    letter-spacing: 0.05em;
    text-align: center;
}

.address-workinghour {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.logo-address {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.contact-logoContainer>.logo {
    width: 15%;
    height: 40%;

}

.contact-logoContainer>h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
}

.contact-logoContainer>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.66);
}

.addressContainer {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.addressContainer,
.time-days {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.icon>img {
    width: 100%;
    height: 100%;
}

.texts {
    margin-top: 6px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: rgba(244, 244, 244, 0.73);
}

.address,
.phone,
.email,
.time,
.days {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.workinghourContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    height: 100%;
    padding: 60px;
    padding-bottom: 91px;
}

.workinghour {
    width: 60%;
    text-align: center;
    padding: 20px;
}

.workinghour>h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 57px;
    letter-spacing: 0.05em;
    color: #F4F4F4;
    margin-top: -13px;
    margin-bottom: 26px;
    border-bottom: 2px solid red;
}

.footer{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.socialmediaicons{
    display: flex;
    gap: 20px;
}

.socialmediaicons>img {
    width: 20px;
    height: 20px;
}

.copy {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    color: rgba(244, 244, 244, 0.73);
}
/* 
@media screen and (max-width: 1100px) {
    .contactContainer {
        background-color: #201F1F;
        width: 100%;
        color: #fff;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contactheader {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 62px;
        letter-spacing: 0.05em;
        text-align: center;
    }

    .address-workinghour {
        display: flex;
        text-align: center;
    }

    .logo-address {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-logoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .contact-logoContainer>.logo {
        width: 8%;
        height: 35%;

    }

    .contact-logoContainer>h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 36px;
    }

    .contact-logoContainer>p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.66);
    }

    .addressContainer {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;

    }

    .addressContainer,
    .time-days {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-top: 8px;
    }

    .icon>img {
        width: 100%;
        height: 100%;
    }

    .texts {
        margin-top: 6px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 27px;
        color: rgba(244, 244, 244, 0.73);
    }

    .address,
    .phone,
    .email,
    .time,
    .days {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .workinghourContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
        gap: 20px;
        margin-top: 30px;
        
    }

    .workinghour {
        width: 50%;
        text-align: center;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .workinghour>h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 57px;
        letter-spacing: 0.05em;
        color: #F4F4F4;
        margin-bottom: 30p;
        border-bottom: 2px solid red;
    }


.time-days{
    padding: 0 50px;
}

    .footer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    }

    .socialmediaicons{
        display: flex;
        gap: 20px;
    }

    .socialmediaicons>img {
        width: 18px;
        height: 18px;
    }

    .copy {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 27px;
        color: rgba(244, 244, 244, 0.73);
    }
}

@media screen and (max-width: 375px) {
 .contactContainer{
        gap: 8px;
    }

    .contactheader{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 62px;
        letter-spacing: 0.05em;
    }   

    .address-workinghour{
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .logo-address{
        width: 100%;
        padding: 20px;
    }

    .contact-logoContainer{
        width: 25%;
        height: 25%;
    }

    .contact-logoContainer>h3{
        font-size: 10px;
    }

    .contact-logoContainer>p{
        font-size: 7px;
    }

    .addressContainer{
        width: 100%;
        padding: 0;
    }

    .addressContainer, 
    .time-days{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .icon{
        width: 10px;
        height: 10px;
        margin-top: 10px;
    }

    .icon>img{
        width: 100%;
        height: 100%;
    }

    .texts{
        margin-top: 8px;
        font-size: 10px;
        line-height: 15px;
    }

    .address,
    .phone,
    .email,
    .time,
    .days{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

.workinghourContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    
}

.workinghour{
    width: 100%;
    text-align: center;
    padding: 0;
    border: none;
}

.workinghour>h3{
    font-size: 10px;
    line-height: 40px;
    letter-spacing: 0.05em;
    border-bottom: 2px solid red;
}

.socialmediaicons>img{
    width: 8px;
    height: 8px;
}

.copy{
    font-size: 8px;
    line-height: 14px;

}   
} */

@media screen and (max-width: 450px) {
    .contactContainer {
        gap: 5px;
    }

    .contactheader {
        font-size: 20px;
    }

    .address-workinghour {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .logo-address {
        width: 100%;
        padding: 20px;
    }

    .contact-logoContainer>.logo {
        width: 23%;
        height: 23%;
    }

    .contact-logoContainer>h3 {
        font-size: 15px;
    }

    .contact-logoContainer>p {
        font-size: 10px;
    }

    .addressContainer {
        width: 100%;
        padding: 0;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-top: 14px;
    }

    .texts {
        margin-top: 10px;
        font-size: 15px;
        line-height: 30px;
    }
    
    .workinghourContainer {
        width: 100%;
        padding: 20px;
        margin-top: 0;

    }

    .workinghour {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .workinghour>h3 {
        font-size: 20px;
        line-height: 45px;
    }

    .footer{
        margin-top: 20px;
    }

    .socialmediaicons>img {
        width: 15px;
        height: 15px;

    }

    .copy {
        font-size: 10px;
        line-height: 14px;

    }


}
/* 
@media screen and (max-width: 863px) {
    .contactContainer {
        background-color: #201F1F;
        width: 100%;
        color: #fff;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contactheader {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 62px;
        letter-spacing: 0.05em;
        text-align: center;
    }

    .address-workinghour {
        display: flex;
        text-align: center;
    }

    .logo-address {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-logoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .contact-logoContainer>.logo {
        width: 15%;
        height: 35%;
        margin-bottom: 0;

    }

    .contact-logoContainer>h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 36px;
    }

    .contact-logoContainer>p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 7px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.66);
    }

    .addressContainer {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;

    }

    .addressContainer,
    .time-days {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .icon {
        width: 15px;
        height: 15px;
        margin-top: 8px;
    }

    .icon>img {
        width: 100%;
        height: 100%;
    }

    .texts {
        margin-top: 6px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 300;
        font-size: 6px;
        line-height: 27px;
        color: rgba(244, 244, 244, 0.73);
    }

    .address,
    .phone,
    .email,
    .time,
    .days {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .workinghourContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
        gap: 20px;
        margin-top: 30px;
    }

    .workinghour {
        width: 60%;
        text-align: center;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .workinghour>h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 57px;
        letter-spacing: 0.05em;
        color: #F4F4F4;
        border-bottom: 2px solid red;
    }


.time-days{
    padding: 0 50px;
}

    .footer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    }

    .socialmediaicons{
        display: flex;
        gap: 15px;
    }

    .socialmediaicons>img {
        width: 12px;
        height: 12px;
    }

    .copy {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 300;
        font-size: 9px;
        line-height: 27px;
        color: rgba(244, 244, 244, 0.73);
    }
} */