.galleryContainer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.gallery-pictureContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    width: 100%;
}


.photos{
    width: 30%;
    height: 30%;
    border-radius: 5%;
    border: 2px solid black;
}

.popup-container{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 30px;
} 

.popup-picture{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 4px solid #000;
}

.close-btn{
    height: 10%;
    width: 10%;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 26px;
    background-color: #000;
    color: #fff;
    border: none;
}







@media screen and (max-width: 450px) {
    .close-btn{
        height: 10%;
        width: 30%;
        padding: 5px;
        font-size: 20px;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 16px;
    }

    
}