
    .services {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
        padding: 30px;
    
    }
    
    /* for the first slide */
    
    .meetings, .fun, .bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
        padding: 10px;
    }
    
    .description {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 45px;
        padding-top: 45px;
    }
    
    .description>h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 65px;
        letter-spacing: 0.02em;
        color: #0C0101;
    }
    
    .description>p {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 37px;
        letter-spacing: 0.06em;
    }
    
    .description>.link {
        width: 270px;
        height: 60px;
        background: #CE0900;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    
    .description>.link>a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
    }
    
    .pictureContainer {
        width: 50%;
        display: flex;
        gap: 20px
    }
    
    .first,
    .second {
        width: 100%;
        height: 100%;
    }
    
    .second{
        margin-top: -100px;
    }

    
    
    /* for the second slide */
    
    .fun-pictureContainer{
        width: 40%;
        height: 100%;
       
    }
    
    .fun-first{
        width: 80%;
        height: 100%;
    }
    
    .fun>.description{
        gap: 40px;
        padding-bottom: 0;
        padding-top: 75px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 50%;
    }
    
    /* bar */
    
    .bar-description {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 30px;
    }
    
    .bar-description>h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 65px;
        letter-spacing: 0.02em;
        color: #0C0101;
    }
    
    .bar-description>p {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 37px;
        letter-spacing: 0.06em;
    }
    
    .bar-description>.bar-link {
        width: 270px;
        height: 60px;
        background: #CE0900;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    
    .bar-description>.bar-link>a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        text-decoration: none;
        color: #fff;
    }
    
    .bar-pictureContainer {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .bar-first {
       width: 90%;
    }
    
     


@media screen and (max-width: 450px) {

    .meetings, .fun, .bar{
        flex-direction: column;
        align-items: center;
    }

    .description {
        width: 100%;
        text-align: justify;
        gap: 20px;
    }

    .description>h3 {
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0.01em;        
    }

    .description>p {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.01em;
    }

    .bar,
    .meetings{
        flex-direction: column-reverse ;
    }

    .description>.link,
    .bar-description>.bar-link {
        width: 150px;
        height: 50px;
    }

    .description>.link>a,
    .bar-description>.bar-link>a {
        font-size: 15px;
        line-height: 26px;
    }
    
    .pictureContainer {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
    }

    .second{
        display: none;
    }

    .first{
        width: 100%;
        height: 100%;
    }

    .first>img{
        width: 100%;
    }

    .fun-pictureContainer,
    .bar-pictureContainer{
        width: 100%;
    }

    .fun-first,
    .bar-first{
        width: 100%;
    }

    .fun>.description,
    .bar-description{
        gap: 20px;
        width: 100%;
    }

    
    .bar-description>h3,
    .fun>.description>h3 {
        font-size: 24px;
        line-height: 40px;
    }

    .bar-description>p{
        font-size: 18px;
    }
    
}
    
    